{% extends '::base.html.twig' %}

{% block body %}
    <style>
        .classes_group{
            max-width:560px;
            margin: 0 auto;
        }
    </style>

    <h3 class="classes_group">Form Classes</h3>
    <div class="panel-group classes_group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for class in form_classes %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ class.form_class_id }}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ class.form_class_id }}" aria-expanded="false" aria-controls="collapse{{ class.form_class_id }}">
                            {{ class.class_name }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ class.form_class_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ class.form_class_id }}">
                    <div class="panel-body">
                        <p>Title: {{ class.class_name }}</p>
                        <p>Meet Time: {{ class.meeting_date }}</p>
                        <p>Instructor: {{ class.fname }} {{ class.lname }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <br>
    <h3 class="classes_group">Weapons Classes</h3>
    <div class="panel-group classes_group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for class in weapon_classes %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ class.class_id }}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ class.class_id }}" aria-expanded="false" aria-controls="collapse{{ class.class_id }}">
                            {{ class.class_name }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ class.class_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ class.class_id }}">
                    <div class="panel-body">
                        <p>Title: {{ class.class_name }}</p>
                        <p>Description: {{ class.weapon_description }}</p>
                        <p>Age Group: {{ class.age_group }}+</p>
                        <p>Meet Time: {{ class.meeting_date }}</p>
                        <p>Instructor: {{ class.fname }} {{ class.lname }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <br>
    <h3 class="classes_group">Test Classes</h3>
    <div class="panel-group classes_group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for class in test_classes %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ class.class_id }}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ class.class_id }}" aria-expanded="false" aria-controls="collapse{{ class.class_id }}">
                        {{ class.class_name }}
                    </a>
                </h4>
            </div>
            <div id="collapse{{ class.class_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ class.class_id }}">
                <div class="panel-body">
                    <p>Title: {{ class.class_name }}</p>
                    <p>Moves: {{ class.test_description }}</p>
                    <p>Meet Time: {{ class.meeting_date }}</p>
                    <p>Instructor: {{ class.fname }} {{ class.lname }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}